html{
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}


body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #F2F2F2;
  font-family: 'DM Serif Display', Arial,  sans-serif;
  font-family: 'Public Sans', Arial, sans-serif;
}

.container{
  width: 100%;
  max-width: 1440px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
}


.intro-section{
  background-image: url(../img/header-ciricle.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  background-position: calc(50% - 0px) -367px;
}

.intro-section::before{
  position: absolute;
  content: "";
  width: 83%;
  height: 540px;
  background-image: url(../img/phone.svg);
  background-repeat: no-repeat;
  background-size: contain;
  left: calc(50% - 36%);
  top: calc(50% - 40%);
}


/* HEADER */

.header{
  position: relative;
  z-index: 1;
}


.header-section{
  position: relative;
  z-index: 1;
  padding-top: 40px;
}

.header-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.header-logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-button{
  z-index: 2;
  width: 28px;
  height: 17px;
  background-image: url(../img/hamburger.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  background-color: transparent;

}

.header-section--open .header-button{
  background-image: url(../img/close.svg);
  width: 22px;
  height: 22px;
}


.header-section--open .nav-list{
  display: block;
}

.nav-list{
  display: none;
  position: fixed;
  text-align: center;
  right: 0px;
  top: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgba(1, 10, 17, 0.9);
  padding: 139px 31px 312px 31px;
}

.nav-item:not(:last-child){
  margin-bottom: 32px;
}

.nav-link{
  font-family: 'Public Sans', Arial, sans-serif;
  text-decoration: none;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #FBFCFE;
  mix-blend-mode: normal;
  opacity: 0.7;
}

.btn-link{
  font-family: 'Public Sans', Arial, sans-serif;
  font-weight: bold;
  background: #BA4270;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  padding: 16px 38px;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #FBFCFE;
  mix-blend-mode: normal;
  opacity: 0.7;
}

.header-link{
  display: none;
  text-decoration: none;
  font-family: 'Public Sans', Arial, sans-serif;
  font-weight: bold;
  background: #BA4270;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  padding: 15px 25px;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #FBFCFE;
  mix-blend-mode: normal;
  opacity: 0.7;
}


/* HERO */



.hero-section{
  text-align: center;
  flex-direction: row;
  margin-top: -200px;
}



.hero-section__heading{
  font-family: 'DM Serif Display', Arial,  sans-serif;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.246154px;
  color: #36536B;
  margin: 0;
  margin-bottom: 24px;
}


.hero-section__input{
  padding: 15px 114px 15px 27px;
  font-size: 15px;
  line-height: 18px;
  color: #36536B;
  mix-blend-mode: normal;
  opacity: 0.5;
  border-radius: 24px;
  border: none;
  margin-bottom: 16px;
}


.hero-section__button{
  padding: 16px 100px;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.115385px;
  color: #FBFCFE;
  background: #BA4270;
  border-radius: 24px;
  border: none;
  margin-bottom: 24px;
}

.hero-section__text{
  font-size: 15px;
  line-height: 18px;
  color: #6C8294;
}


/* WORK */

.work{
  padding-top: 80px;
  background-color: #1B262F;
}

.work-content{
  /* position: relative;
  z-index: 1;
  padding-top: 290px; */
  padding-bottom: 80px;
  text-align: center;
}

/* .work-content::before{
  position: absolute;
  content: "";
  width: 280px;
  height: 154px;
  background-image: url(../img/all-company.png);
  background-repeat: no-repeat;
  background-size: contain;
  left: calc(50% - 135px);
  top: calc(50% - 237px);
} */

.work-content__heading{
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.246154px;
  color: #FBFCFE;
  margin: 0;
  margin-bottom: 16px;
}

.work-content__text{
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #FBFCFE;
  mix-blend-mode: normal;
  opacity: 0.7;
  margin: 0;
  margin-bottom: 60px;
}

.work-content__link{
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.115385px;
  color: #FBFCFE;
  padding: 16px 32px;
  border: 1px solid #FBFCFE;
  box-sizing: border-box;
  border-radius: 24px;
  text-decoration: none;
}

.work-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 26px;
}

.work-item{
  margin-left: 20px;
  margin-bottom: 30px;
}




/* SERVICES */


.services-section{
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}

.easy-section{
  padding-bottom: 80px;
}

.easy-section__img{
  padding-right: 20px;
  margin-bottom: 30px;
}

.easy-section__heading{
  margin: 0;
  margin-bottom: 24px;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.276923px;
  color: #36536B;
}

.easy-section__text{
  margin: 0;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #6C8294;
}

.simple-section__img{
  margin-bottom: 48px;
}

.simple-section__heading{
  margin: 0;
  margin-bottom: 24px;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.276923px;
  color: #36536B;
}

.simple-section__text{
  margin: 0;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #6C8294;
}


/* STEPS */

.step{
  padding-bottom: 80px;
}


.step-list{
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.step-item{
  padding-top: 140px;
}

.step-item:not(:last-child){
  margin-bottom: 48px;
}

.step-title{
  margin: 0;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.138462px;
  color: #36536B;
}

.step-text{
  margin: 0;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.115385px;
  color: #6C8294;
}

.money-item{
  position: relative;
  z-index: 1;
}

.money-item::before{
  position: absolute;
  content: "";
  width: 106px;
  height: 106px;
  background-image: url(../img/money.svg);
  background-repeat: no-repeat;
  background-size: contain;
  left: 33%;
  top: 2%;

}

.bank-item{
  position: relative;
  z-index: 1;
}

.bank-item::before{
  position: absolute;
  content: "";
  width: 106px;
  height: 106px;
  background-image: url(../img/bank.svg);
  background-repeat: no-repeat;
  background-size: contain;
  left: 33%;
  top: 2%;
  margin-left: auto;
  margin-right: auto;
}


.consumer-item{
  position: relative;
  z-index: 1;
}

.consumer-item::before{
  position: absolute;
  content: "";
  width: 106px;
  height: 106px;
  background-image: url(../img/consumer.svg);
  background-repeat: no-repeat;
  background-size: contain;
  left: 33%;
  top: 2%;
  margin-left: auto;
  margin-right: auto;
}




/* READY */


.ready-section{
  padding-bottom: 80px;
  text-align: center;
}

.ready-section__title{
  margin: 0;
  margin-bottom: 32px;font-size: 32px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.246154px;
  color: #36536B;
}




.ready-section__input{
  padding: 15px 110px 14px 27px;
  margin-bottom: 16px;
  font-size: 15px;
  line-height: 18px;
  color: #36536B;
  mix-blend-mode: normal;
  opacity: 0.5;
  background: #FBFCFE;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  border: none;
}

.ready-section__button{
  padding: 16px 100px;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.115385px;
  color: #FBFCFE;
  background: #BA4270;
  border-radius: 24px;
  border: none;
}



/* FOOTER */

.footer-section{
  padding: 32px 120px 60px 120px;
  background: #1B262F;
  text-align: center;
}


.footer-logo__img{
  margin-bottom: 40px;
}

.footer-nav__list{
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 39px;
  text-align: center;
}

.footer-nav__item:not(:last-child){
  margin-bottom: 31px;
}

.footer-nav__link{
  font-size: 15px;
  line-height: 18px;
  color: #FBFCFE;
  mix-blend-mode: normal;
  opacity: 0.7;
  text-decoration: none;
}

.footer-social__list{
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.footer-social__item:not(:last-child){
  margin-right: 24px;
}


.facebook{
  fill:#FBFCFE;
}

.facebook:hover{
  fill: #DA6D97;
  transition: 0.5s;
}

.twitter{
  fill:#FBFCFE;
}

.twitter:hover{
  fill: #DA6D97;
  transition: 0.5s;
}

.linkedn{
  fill:#FBFCFE;
}

.linkedn:hover{
  fill: #DA6D97;
  transition: 0.5s;
}







@media only screen and (min-width: 410px) and (max-width: 450px) {

  .work-item{
    margin-left: 40px;
  }


}


@media only screen and (min-width: 660px) {


  .intro-section{
    width: 100%;
    height: 800px;
    background-position: calc(50% - 0px) -425px;
  }

  .intro-section::before{
    background-position: calc(50% - 7px) 97px;
  }

  .header-section__link{
    margin-right: 64px;
  }

  .header-button{
    display: none;
  }

  .nav-list{
    height: 22px;
    display: block;
    position: static;
    display: flex;
    background-color: transparent;
    padding: 0;
  }

  .nav-item:not(:last-child){
    margin-right: 40px;
  }

  .nav-link{
    font-size: 15px;
    line-height: 18px;
    color: #36536B;
    mix-blend-mode: normal;
    opacity: 0.7;
  }

  .btn-link{
    padding: 10px 13px;
    letter-spacing: -0.115385px;
    color: #FBFCFE;
  }

  .hero-section{
    text-align: center;
  }

  .hero-section__heading{
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.369231px;
    color: #36536B;
    padding-left: 90px;
    padding-right: 90px;
  }


  /* WORK */


  .work-content{
    padding: 0px 130px 88px 130px;
  }

  .work-content::before{
    width: 536px;
    height: 103px;
    background-image: url(../img/all-company-tablet.png);
    left: calc(50% - 274px);
    top: calc(50% - 200px);
  }

  .work-content__heading{
    font-size: 48px;
    line-height: 56px;
  }



  .work-item{
    margin-right: 30px;
  }



  /* STEPS */


  .money-item::before{
    left: 40%;
  }

  .bank-item::before{
    left: 40%;
  }

  .consumer-item::before{
    left: 40%;
  }





}

@media only screen and (min-width: 768px) {

  .btn-link{
    padding: 15px 25px;
  }


  /* HERO */



  .hero-section__email{
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    width: 473px;
    border-radius: 24px;
  }


  .hero-section__input{
    padding: 16px 103px 14px 27px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin: 0;
  }


  .hero-section__button{
    padding: 15px 25px;
    margin: 0;

  }

  /* WORK */


  .work-item{
    margin-right: 62px;
    margin-bottom: 46px;
  }



  /* SERVICES */


  .services-section{
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .easy-section{
    padding-bottom: 100px;
  }

  .easy-section__img{
    width: 410px;
    height: 250px;
    margin-bottom: 48px;
  }

  .easy-section__content{
    padding-left: 97px;
    padding-right: 97px;
  }

  .easy-section__heading{
    font-size: 48px;
    line-height: 56px;
  }

  .simple-section__img{
    width: 363px;
    height: 320px;
  }

  .simple-section__heading{
    font-size: 48px;
    line-height: 56px;
  }

  .simple-section__content{
    padding-left: 97px;
    padding-right: 97px;
  }



  /* STEPS */


  .step-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
  }

  .money-item::before{
    width: 88px;
    height: 88px;
    left: 33%;
  }
  .bank-item::before{
    width: 88px;
    height: 88px;
    left: 33%;
  }
  .consumer-item::before{
    width: 88px;
    height: 88px;
    left: 33%;
  }

  .step-item:not(:last-child){
    margin-bottom: 0;
    margin-right: 10px;
  }



  /* READY */


  .ready-section{
    padding-bottom: 100px;
  }

  .ready-section__title{
    margin-bottom: 40px;
    font-size: 48px;
    line-height: 56px;
  }

  .ready-section__input-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    background-color: white;
  }

  .ready-section__input{
    margin-bottom: 0;
    padding-right: 103px;
    font-size: 15px;
    line-height: 18px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .ready-section__button{
    padding: 15px 24px;
    font-size: 15px;
    line-height: 18px;
  }



  /* FOOTER */



  .footer-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 31px 40px;
  }

  .footer-section__logo-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-logo__img{
    margin-bottom: 0;
    margin-right: 64px;
  }

  .footer-nav__list{
    margin-bottom: 0;
    display: flex;
    align-items: center;
    margin-right: 138px;
  }

  .footer-nav__item:not(:last-child){
    margin-bottom: 0;
    margin-right: 40px;
  }

}

@media only screen and (min-width: 825px) {

  .work-item{
    margin-right: 80px;
  }

}

@media only screen and (min-width: 900px) {

  .work-item{
    margin-right: 120px
  }

}



@media only screen and (min-width: 1100px) {

  .intro-section{
    background-position: calc(50% - -563px) -158px;
    background-size: contain;
    width: 100%;
    height: 780px;
  }

  .intro-section::before{
    display: none;
  }


  .header-section{
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
  }

  .nav-list{
    margin-right: 250px;
  }

  .btn-link{
    display: none;
  }

  .header-link{
    display: block;
    float: left;
  }

  /* HERO */


  .hero-section{
    margin-top: -550px;
    text-align: left;
    width: 550px;
    padding-left: 80px;
  }

  .hero-section::before{
    position: absolute;
    content: "";
    width: 380px;
    height: 557px;
    background-image: url(../img/phone.svg);
    background-repeat: no-repeat;
    background-size: cover;
    left: 61%;
    top: 20%;

  }

  .hero-section__heading{
    text-align: left;
    padding: 0;
    font-size: 72px;
    line-height: 72px;
  }


  .hero-section__email{
    width: 471px;
  }

  .hero-section__input{
    padding: 15px 100px 14px 27px;
  }



  /* WORK */


  .work-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .work-content{
    width: calc(100% / 2 );
    text-align: left;
  }

  .work-content__heading{
    text-align: left;
    font-size: 45px;
  }

  .work-content__text{
    text-align: left;
  }

  .work-list{
    width: calc(100% / 2);
    flex-direction: row;
  }

  .work-item{
    margin-left: 0;
    width: 90px;
  }


  /* SERVICES-SECTION */


  .services-section{
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .easy-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 180px;
  }

  .easy-section__content{
    padding: 0;
  }

  .easy-section__img{
    width: 400px;
    height: 220px;
    padding: 0;
    margin-right: 50px;
  }

  .easy-section__heading{
    text-align: left;
  }

  .easy-section__text{
    text-align: left;
  }


  .simple-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding-left: 80px;
    padding-right: 100px;
  }

  .simple-section__content{
    padding: 0;
    margin-right: 50px;
  }

  .simple-section__img{
    width: 500px;
    height: 450px;
  }

  .simple-section__heading{
    text-align: left;
  }

  .simple-section__text{
    text-align: left;
  }




  /* READY */


  .ready-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .ready-section__title{
    margin-bottom: 0;
    padding-left: 11px;
  }

  .ready-section__input-button{
    padding: 0px;
    border-radius: 24px;
  }
}

@media only screen and (min-width: 1200px) {

  .nav-list{
    margin-right: 350px;
  }


  /* FOOTER */


  .footer-section{
    padding-left: 164px;
    padding-right: 164px;
  }
}

@media only screen and (min-width: 1316px) {

  .nav-list{
    margin-right: 470px;
  }




  /* SERVICES */


  .easy-section{
    padding-left: 140px;
    padding-right: 230px;
  }

  .easy-section__img{
    width: 445px;
    height: 284px;
    margin-right: 125px;
  }

  .simple-section{
    padding-left: 140px;
    padding-right: 145px;
  }

  .simple-section__img{
    width: 565px;
    height: 500px;
  }

  .simple-section__content{
    margin-right: 95px;
  }



  /* STEPS */


  .step-list{
    padding-left: 165px;
    padding-right: 165px;
  }

  .step-item:not(:last-child){
    margin-right: 30px;

  }


  .money-item::before{
    width: 106px;
    height: 106px;
    left: 33%;
  }

  .bank-item::before{
    width: 106px;
    height: 106px;
    left: 33%;
  }

  .consumer-item::before{
    width: 106px;
    height: 106px;
    left: 33%;
  }




  /* READY */


  .ready-section{
    padding-left: 165px;
    padding-right: 165px;
  }
}

@media only screen and (min-width: 1440px) {

  .nav-list{
    margin-right: 530px;
  }


  .hero-section::before{
    width: 400%;
  }

}










